.counter{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background-color: darkgreen;
    height: 300px;
    width: 25%;
    padding: 40px 20px;
    background-image: linear-gradient(#f3f6dc, #a2a296);
    box-shadow: 0px 0px 4px 1px #3b3b36;
    border-radius: 7px;
}

.btnWrap{
    display: flex;
    width: 80% ;
    justify-content: space-around;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 26px;
    background-image: linear-gradient(#ffb70f 5%, #d6920f 50%, #ffb70f 95%);
    height: 20%;
    width: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px 1px #a46f0e;
}
.input:focus{
    outline: none;
}

.errorInput{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 26px;
    background-image: linear-gradient(#e1150e 5%, #cb130d 50%, #e1150e 95%);
    height: 20%;
    width: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px 1px #3c0201;
}
.errorInput:focus{
    outline: none;
}