.App {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3b6b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counterWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}
@media (max-width: 1080px) {
    .counterWrap{
        width: 100%;
    }
}
@media (max-width: 752px) {
    .App{
        height: 100%;
    }
}
@media (max-width: 455px) {

}





