.App {
    width: 100vw;
    height: 100vh;
    background-color: #b3b6b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}




